<div class="login-container">
    <div class="login-card">

        <h1 class="login-title">Welcome Back</h1>

        @if (errorMessage) {
        <div
            style="color: red; background: #ffe6e6; padding: 10px; border-radius: 5px; margin-bottom: 15px; text-align: center;">
            {{ errorMessage }}
        </div>
        }

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">


            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" formControlName="email" class="form-input"
                    placeholder="Enter your email" />
                @if (hasErro('email', 'required')) {
                <span class="error">Email is required</span>
                }
                @if (hasErro('email', 'email')) {
                <span class="error">Enter a valid email</span>
                }
            </div>


            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" formControlName="password" class="form-input"
                    placeholder="Enter your password" />
                @if (hasErro('password', 'required')) {
                <span class="error">Password is required</span>
                }
                @if (hasErro('password', 'minlength')) {
                <span class="error">Password must be at least 6 characters</span>
                }
            </div>


            <button type="submit" class="login-button" [disabled]="loginForm.invalid">
                Login
            </button>

            {{state}}
        </form>
    </div>
</div>