@if (loading$ | async) {
<div class="spinner-overlay">
    <div class="spinner"></div>
</div>
}



@else if (error$ | async; as error ){

<div class="error-message"> {{error}}
    <button (click)="reTry(productId)" class="retry-btn"> Retry </button>

</div>


}

@else if (product$ | async; as product){
<div class="product-card">

    <div class="product-image"><img [src]="product.imageUrl" class="product-link" /> </div>

    <div class="product-content">
        <h3 class="product-title">{{product.name}}</h3>
        <p class="product-desc">{{product.description}}</p>

        <span class="product-price">{{product.price}} </span>
        <!-- <p class="product-desc">{{categoryId}}</p> -->

    </div>


    <button *ngIf="!stateService.setIsItInCart(product.id!)" class="add-to-cart-btn" (click)="addToCart(product)">
        Add To cart
    </button>

    <button *ngIf="stateService.setIsItInCart(product.id!)" class="remove-from-cart-btn" (click)="remove(product.id!)">
        Remove from cart
    </button>



</div>

}